Body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

/* hero section styling */
.hero-section {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: left;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: whitesmoke;      
}

/* navbar section */
.navigation {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
  }
  
  .navbar-nav {
    flex: 1;
    display: flex;
    justify-content: space-evenly;
  }
  
  .call-now {
    background-color: #E0B500;
    border-radius: 10px;
    border: none;
  }
  
  .navbar-brand {
    flex-grow: 1;
  }
  
  .navbar-toggler {
    margin-left: auto;
  }

  /* Adjust layout for larger screens */
  @media (min-width: 992px) {
    .navbar .call-now {
      margin-right: auto;
    }
    .navbar-nav {
      margin-left: auto;
    }
  }

  /* Adjust for medium and smaller screens */
  @media (max-width: 991px) {
    .navbar .call-now {
      margin-left: auto;
    }
  
    .navbar .navbar-toggler {
      margin-left: auto;
    }
  }

  .apply-now {
    background-color: #E0B500;
    border-radius: 10px;
  }
  
  .nav-item a {
    color: whitesmoke;
    text-decoration: none;
  }
  
  .nav-item a:hover {
    color: #E0B500;
    text-decoration: underline;
  }
  
  /* hero section */
  .hero-section {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: left;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: whitesmoke;
    position: relative;
    z-index: 1;
  }

  .hero-section-heading {
    font-family: "Lexend", Sans-serif;
    font-size: 55px;
    font-weight: 700;
    box-shadow: 2px 4px 9x rgba(0, 0 , 0, 0.32);
    line-height: 1;
  }

  .hero-section-p {
    box-sizing: border-box;
  }
  
  .hero-section-button {
    font-family: "Lexend Deca", sans-serif;
    font-size: 20px;
    font-weight: 600;
    background-color: #EBC035;
    border-radius: 6px;
    padding: 11px 70px 13px 70px;
    text-align: center;
    transition: all 0.3s;
    border: none;
  }

  .hero-section-link {
    text-decoration: none;
    color: #0D2412;
  }

  @media (max-width: 767px) {
    .hero-section-button {
        padding: 11px 55px 12px 55px;
    }
  }
  

.featured-vehicles {
    text-align: center;
    margin: 50px 0;
    color: #1A3229;
}

.car-name {
    text-align: center;
    font-size: 1.2rem;
    margin: 10px 0;
}

.car-details {
    font-size: 0.75rem;
    text-align: center;
    margin-bottom: 10px;
    color: #555;
}

.offers-include {
    background-color: #1A3229;
    color: whitesmoke;
    font-size: 0.75;
    text-align: center;
    padding: 10px;
}

.apply-kilometers {
    align-items: center;
}

.apply-now-featured {
    background-color: #E0B500;
    border-color: #E0B500;
    color: #1A3229;
    transition: all 0.3s ease-in-out;
    border-radius: 5px;
    padding: 10px 20px;
}

.apply-now-featured:hover {
    background-color: #1A3229;
    border-color: #1A3229;
    color: whitesmoke;
    transform: translateY(-2px);
}

.monthly-kilometers {
    text-align: right;
}

.monthly-kilometers p {
    font-size: 0.75;
    color: #555;
}

.monthly-kilometers button {
    border-radius: 15px;
    margin-left: 5px;
    margin-top: 0;
    padding-top: 0;
}

.price {
    font-size: 1.8rem;
    font-weight: 600;
    text-align: center;
}

.per-month {
    font-size: 0.75rem;
    color: #555;
}

.view-all-button {
    border-color: #1A3229;
    max-width: 50%;
    margin: 20px 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.view-all-button:hover {
    background-color: #1A3229;
}

.view-all-button a {
    text-decoration: none;
    color: #1A3229;
}

.view-all-button a:hover {
    color: whitesmoke;
}

/* quick apply section */
.quick-apply {
    background-repeat: no-repeat;
    background-size: cover;
}

.quick-apply img {
    width: 200px;
    height: 100px;
}

.quick-apply-button {
    background-color: #1A3229;
    font-family: 'Lexend Deca', Sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #E0B500;
    max-width: 40%;
    margin: 20px 0;
    padding: 10px 30px;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.five-star {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 150px;
    height: 40px;
}

.brands {
    text-align: center;
}

.thrill-para {
    margin: 10px 0;
}

.brand-badge {
    background-color: #1A3229;
    margin-bottom: 50px;
}

.brand-badge img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: 30px;
}

/* how it works section */
.drive-heading {
    margin-bottom: 40px;
}

.how-it-works {
    margin-top: 50px;
    margin-bottom: 50px;
}

/* .how-it-works .card {
    border: none;
} */

.card-title {
    font-size: 24px;
    font-weight: bold;
}

.card-text {
    font-size: 18px;
}

/* pros and cons section */
.payment-pros-cons {
    background-color: #f0f8ff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .pros-cons {
    display: flex;
    justify-content: space-around;
  }
  
  .pros-cons .cons, .pros-cons .pros {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
  }
  
  .pros-cons .cons:hover, .pros-cons .pros:hover {
    transform: translateY(-10px);
  }
  
  .pros-cons h3 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.5em;
  }
  
  .list-group-item {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    font-size: 1.1em;
  }
  
  .list-group-item i {
    margin-right: 10px;
    font-size: 1.3em;
  }
  
  .text-danger {
    color: #dc3545 !important;
  }
  
  .text-success {
    color: #28a745 !important;
  }

  /* footer section */
  .footer h5 {
    color: #E0B500;
  }
  
  .footer p,
  .footer a {
    color: whitesmoke;
    font-size: 1rem;
  }
  
  .footer a {
    transition: color 0.3s;
  }
  
  .footer a:hover {
    color: #E0B500;
  }
  
  .footer iframe {
    border-radius: 8px;
    margin-top: 15px;
  }
  



